<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter une recette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup] = "registerForm">

      <ion-item>
        <ion-label position = "floating">Nom recette</ion-label>
        <ion-input type = "text" name = "recipeName" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position = "floating">Calories</ion-label>
        <ion-input type = "number" name = "calories" formControlName="calories" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position = "floating">Protéines</ion-label>
        <ion-input type = "number" name = "proteins" formControlName="proteins"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position = "floating">Lipides</ion-label>
        <ion-input type = "number" name = "fats" formControlName="fats"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position = "floating">Glucides</ion-label>
        <ion-input type = "number" name = "carbs" formControlName="carbs"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position = "floating">Instructions</ion-label>
        <ion-textarea type = "text" name = "instructions" formControlName="instructions"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position = "floating">Ingredients</ion-label>
        <ion-textarea type = "text" name = "ingredients" formControlName="ingredients"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position = "floating">Temps de préparation</ion-label>
        <ion-input type = "number" name = "preparationTime" formControlName="preparationTime"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position = "floating">Conseils</ion-label>
        <ion-textarea type = "text" name = "tips" formControlName="tips"></ion-textarea>
      </ion-item>

      <ion-list>
        <ion-radio-group
        allow-empty-selection = "true"
        name="radio-group"
        (ionChange)="radioGroupChange($event, 'Temperature')">
          <ion-list-header>
            <ion-label>Plat...</ion-label>
          </ion-list-header>
      
          <ion-item *ngFor = "let temperature of getAllValuesEnum('Temperature')">
            <ion-label>{{temperature}}</ion-label>
            <ion-radio slot="start" [value]="getTemperature(temperature)"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-list>
        <ion-radio-group
        allow-empty-selection = "true"
        name="radio-group"
        (ionChange)="radioGroupChange($event, 'Type')">
        <ion-list-header>
          <ion-label>Sucré/Salé</ion-label>
        </ion-list-header>

        <ion-item *ngFor = "let type of getAllValuesEnum('Type')">
          <ion-label>{{type}}</ion-label>
          <ion-radio slot="start" [value]="getType(type)"></ion-radio>
        </ion-item>
        </ion-radio-group>
      </ion-list>


      <ion-list>
        <ion-radio-group
        allow-empty-selection = "true"
        name="radio-group"
        (ionChange)="radioGroupChange($event, 'Diet')">
        <ion-list-header>
          <ion-label>Régime/Allergies</ion-label>
        </ion-list-header>

        <ion-item *ngFor = "let diet of getAllValuesEnum('Diet')">
          <ion-label>{{diet}}</ion-label>
          <ion-radio slot="start" [value]="getDiet(diet)"></ion-radio>
        </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item>
        <ion-input type = "file" name = "image" (change) = "selectImage($event)"></ion-input>
      </ion-item>


          <ion-button type = "submit" (click) = "onSubmit()" style="font-size: 20px; margin-left: 10px;">Ajouter recette</ion-button>

    </form>
</ion-content>
