

.macronutriments
{
    width: 100%;
    text-align: center;
}

#proteins
{
    float: left;
}

#carbs
{
    display: inline-block;
    margin: 0 auto;
}

#fats
{
    float:right;
}

.macros
{
    border: pink;
    /* border-width: thick; */
    border-style: groove;
    border-radius: 10%;
    padding: 10px; 
    //border-right: 2px solid blue;
}

.macrosInfos
{
    font-size: 20px;
    font-weight: bold;
    color: red;
}