

.macronutriments
{
    width: 100%;
    text-align: center;
}

.verticalBar
{
    border-left: 2px solid #47CDFF;
    height: 30px;
    float: left;
    margin-top: 8px;
}

.macroValue
{
    color: #FF4757;
    font-size: larger;
}

.macroName
{
    color: #8D8D8D;
}

.macrosGrid
{
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.macro
{
    float: left;
}

#proteins
{
    display: inline;
}

#carbs
{
    display: inline-block;
    margin: 0 auto;
}

#fats
{
    float:right;
}

.macros
{
    border: pink;
    /* border-width: thick; */
    border-style: groove;
    border-radius: 10%;
    padding: 10px; 
    //border-right: 2px solid blue;
}

.macrosInfos
{
    font-size: 20px;
    font-weight: bold;
    color: red;
}