<ion-item mode ="ios" lines = "none">
<!--   <div class = "macronutriments">
    <div id = "proteins" class = "macros">
      
      <span class = "macrosInfos">{{getRecipe()?.proteins}}g</span>
      <br>
      <span>Protéines</span>
    </div>
    <div id = "carbs" class = "macros">
      <span class = "macrosInfos">{{getRecipe()?.carbs}}g</span>
      <br>
      <span>Glucides</span>
    </div>

    <div id = "fats" class = "macros">
      <span class = "macrosInfos">{{getRecipe()?.fats}}g</span>
      <br>
      <span>Lipides</span>
    </div>
  </div> -->


  <div class = "macrosGrid">
    <div class = "macro">
      <span class = "macroValue">{{getRecipe()?.proteins}}g</span>
      <br>
      <span class = "macroName">Protéines</span>
    </div>

    <div class = "verticalBar"></div>

    <div class = "macro">
      <span class = "macroValue">{{getRecipe()?.carbs}}g</span>
      <br>
      <span class = "macroName">Glucides</span>
    </div>

    <div class = "verticalBar"></div>

    <div class = "macro">
      <span class = "macroValue">{{getRecipe()?.fats}}g</span>
      <br>
      <span class = "macroName">Lipides</span>
    </div>
  </div>



</ion-item>