<ion-item mode ="ios" lines = "none">
  <div class = "macronutriments">
    <div id = "proteins" class = "macros">
      
      <span class = "macrosInfos">{{getRecipe()?.proteins}}g</span>
      <br>
      <span>Protéines</span>
    </div>
    <div id = "carbs" class = "macros">
      <span class = "macrosInfos">{{getRecipe()?.carbs}}g</span>
      <br>
      <span>Glucides</span>
    </div>

    <div id = "fats" class = "macros">
      <span class = "macrosInfos">{{getRecipe()?.fats}}g</span>
      <br>
      <span>Lipides</span>
    </div>
  </div>




</ion-item>