<ion-header mode = "ios" translucent>
  <ion-toolbar mode = "ios" color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Politique de confidentialité</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines = "none">
    <ion-item>
      <ion-text color = "danger">
        <h1>
          DÉCLARATION DE CONFIDENTIALITÉ
        </h1>
      </ion-text>
    </ion-item>

    <ion-item>
      ----
    </ion-item>

    <ion-item>
      <ion-text color = "primary">
        <h3>
          Article preliminaire - preambule
        </h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <p>
          La présente politique de confidentialité s’adresse aux Utilisateurs (ci-après «l’Utilisateur») de
l’application https://myfitmeals.fr (ci -après «Application») édité par la société SMART BODY,
société à action simplifiée à associé unique dont le siège social est situé chez au 42
boulevard albert 1er, 35200 Rennes, immatriculée au  sous le numéro 88016863800026 (ci-
après «la Société») et a pour objet de présenter à l’Utilisateur la teneur des traitements des
données à caractère personnel mis en œuvre sur le Site.

 
La Société s’engage en tout état de cause à respecter les trois principes essentiels suivants :
– collecter uniquement les données strictement nécessaires au regard de leur finalité
– l’Utilisateur reste propriétaire de ses données à caractère personnel
– les données sont traitées de manière transparente, confidentielle et sécurisée
 
Les traitements des données à caractère personnel sont régis :
par la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés
par le Règlement (UE) 2016/679 du parlement européen et du conseil du 27 avril 2016, entré
en vigueur le 25 mai 2018 (ci-après «RGPD»)
        </p>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text color = "primary">
        <h3>
          Article 1 - Finalités du traitement
        </h3>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
        <p>
          Les données sont susceptibles d’être collectées pour des finalités explicites, légitimes et
déterminées afin d’assurer :
 
– le bon fonctionnement et l’amélioration permanente du Site, de ses services et de ses
fonctionnalités
– affiner la recherche de l’Utilisateur sur le Site
– la gestion de l’abonnement de l’Utilisateur à la newsletter du Site et pour certains la gestion
de leur abonnement aux services proposés
– la mise à disposition dans un espace sécurisé des documents
– organisation d’évènements par la Société
– la gestion des demandes de droit d’accès, de rectification et d’opposition, d’effacement, de
limitation, de portabilité, droit à l’oubli et le droit d’introduire une réclamation auprès de la
CNIL
– élaboration de statistiques commerciales
 
En tout état de cause, et pour chaque finalité définie, la Société mettra tous les moyens en
sa possession pour assurer la sécurité et la confidentialité des données à caractère
personnel qui lui seront confiées, dans le respect des lois et du règlement en vigueur
        </p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text color = "primary">
        <h3>
          Article 2 - Responsable de traitement
        </h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <p>
          Les données à caractère personnel sont collectées et traitées par la Société, dont les
          coordonnées sont mentionnées à l’article «préliminaire» des présentes, qui est responsable
          du traitement des données à caractère personnel mis en œuvre dans le cadre de
          l’exploitation du Site.
           
          Pour toute question relative à la gestion et à l’utilisation faite des données à caractère
          personnel, l’Utilisateur devra envoyer un email à l’adresse suivante :
          support@smartbodycoaching.com.
        </p>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text color = "primary">
        <h3>
          Article 3 - collecte et traitement des données
personnelles
        </h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <p>
          Les données personnelles communiquées par l’Utilisateur à la Société font l’objet d’un
traitement informatique et sont conservées et utilisées par ce dernier pour les finalités
décrites à l’article susvisé et concernent :
– les données d’identification (nom, prénom, courriel, numéro de téléphone, adresse postale)
– les données de connexion et cookies (adresses IP, logs de connexion)
– l’enregistrement et la gestion des commandes et la fourniture des produits et/ou services
correspondants
– la communication avec les Utilisateurs afin de répondre à leurs demandes et sollicitations
– la gestion des réclamations et litiges éventuels
– l’envoi à l’Utilisateur, après avoir recueilli son accord préalable exprès, des newsletters,
messages d’information et offres promotionnelles.
 
En particulier, la Société est susceptible de collecter des données à caractère personnel :
– lors de la visite du Site
– lors de l’inscription sur le Site
– lors de l’achat sur le Site
– lors d’échanges avec ses équipes via le Site
– lors de la demande de contact ou d’achat sur le Site  
 
Par ailleurs, lorsque l’Utilisateur se rend sur le Site, des données de navigation sont
susceptibles d’être collectées et traitées par la Société ou par tout prestataire de son choix à

des fins statistiques, afin d’améliorer l’utilisation du Site, et en particulier de mesurer le
nombre de pages vues, le nombre de visites et le parcours de l’Utilisateur sur le site.
        </p>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text color = "primary">
        <h3>
          Article 4 - consentement
         </h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <p>
          Lorsque cela est nécessaire au regard de la Loi informatique et Libertés, la Société s’engage
          à recueillir le consentement de l’Utilisateur et/ou à lui permettre de s’opposer à l’utilisation de
          ses données pour certaines finalités.
          
          La Société peut envoyer aux Utilisateurs qui l’ont accepté des sollicitations commerciales. Si
          par la suite, les Utilisateurs ne souhaitent plus recevoir de telles sollicitations ils peuvent à
          tout moment envoyer un email gratuitement et sans fournir d’autre motif à l’adresse suivante
          : support@smartbodycoaching.com.
        </p>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text color = "primary">
        <h3>
          Article 5 - Destinataires des données personnelles
        </h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <p>
          Seules les personnes habilitées et déterminées mentionnées ci-dessous pourront avoir
accès aux données de l’Utilisateur :
 
– Le personnel habilité des différents services de l’Éditeur (le personnel habilité des services
communication, administratif, logistique et informatique, chargés de traiter la relation client et
chargés du contrôle)
– Sous-traitants de l’Éditeur qui agissent au nom et pour le compte de la Société, et
notamment l’hébergeur du Site
– Le service de paiement sécurisé Stripe (informations disponibles sur le site stripe.com)
– Le service de paiement sécurisé Paypal (informations disponibles sur le site paypal.com)
– Les juridictions concernées, médiateurs, experts-comptables, commissaires aux comptes,
avocats, huissiers, sociétés de recouvrement de créances,
– Les tiers susceptibles de déposer des cookies sur les terminaux de l’Utilisateur
(ordinateurs, tablettes, téléphones portables…) lorsqu’il y consent
– Les tiers réseaux sociaux, le Site peut utiliser des plugins sociaux fournis et exploités par
des sociétés tierces, tels que le bouton Facebook, LinkedIn, Twitter. En conséquence,
l’Utilisateur peut envoyer aux tiers les informations qu’il visualise dans une rubrique du Site.
Si l’Utilisateur n’est pas connecté à son compte ouvert auprès du tiers, ce dernier ne pourra

pas connaître son identité. Si l’Utilisateur est connecté à son compte ouvert auprès du tiers,
alors ce dernier pourra relier les informations ou actions relatives à ses interactions avec le
Site au compte qu’il détient auprès du tiers en question. Pour plus d’informations, l’Utilisateur
devra consulter les politiques de confidentialité du tiers concernant ses pratiques en termes
de données.
 
Les données de l’Utilisateur ne sont communiquées, échangées, vendues ou louées à
aucune autre personne que celles mentionnées ci-dessus.
        </p>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text color = "primary">
        <h3>
          Article 6 - Durée de conservation des données
        </h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <p>
          La Société s’engage à ce que les données collectées soient conservées sous une forme
permettant l’identification de l’Utilisateur pendant une durée qui n’excède pas la durée
nécessaire aux finalités pour lesquelles ces données sont collectées et traitées.
 
Ces données peuvent toutefois être conservées dans l’objectif de respecter une obligation
légale ou gardées dans des fichiers conformément aux Règlements et lois applicables.
Par exception, les données d’identification de l’Utilisateur sont conservées par la Société
pendant une durée de trois (3) ans à compter du dernier contact avec l’Utilisateur.
 
Pour la gestion de la relation commerciale avec l’Utilisateur et le suivi clientèle, les données
sont conservées trois (3) ans à compter de la fin de la relation commerciale si l’Utilisateur est
client.
Pour la gestion des demandes de droit sur les données de l’Utilisateur les données sont
conservées un (1) an.
 
En tout état de cause les données personnelles ne seront pas conservées au-delà de la
durée maximale de conservation prévue au Règlement et Lois en vigueur et conformément
aux besoins de l’activité de la Société soit :
– 36 mois à compter de la dernière connexion pour les données d’indentification
– 36 mois à compter de la date de la commande pour les données relatives aux commandes
– 13 mois au maximum à compter de leur fourniture pour les données bancaires

– 12 mois à compter de la dernière activité sur le Site pour les données prospects
        </p>
      </ion-text>
    </ion-item>

    
    <ion-item>
      <ion-text color = "primary">
        <h3>
          Article 7 - Droits de utilisateur
        </h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <p>
          Conformément à la Loi « Informatique et Libertés » modifiée et au RGPD, l’Utilisateur
          bénéficie des droits suivants :
           
          – Droit d’accès (article 15 du RGPD) de rectification (article 16 du RGPD) de mise à jour, de
          complétude des données
          – Droit de verrouillage ou d’effacement des données à caractère personnel (article 17 du
          RGPD) lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte,
          l’utilisation, la communication ou la conservation est interdite
          – Droit de retirer à tout moment le consentement (article 13-2 du RGPD)
          – Droit à la limitation du traitement des données (article 18 du RGPD)
          – Droit d’opposition au traitement des données (article 21 du RGPD)
          – Droit à la portabilité des données que fournies, lorsque les données font l’objet de
          traitements automatisés fondés sur le consentement de l’Utilisateur ou sur un contrat (article
          20 du RGPD)
          – Droit d’introduire une réclamation auprès de la CNIL (article 77 du RGPD)
          – Droit de définir le sort des données après la mort de l’Utilisateur et de choisir la
          communication (ou non) de ses données à un tiers qu’il aurait préalablement désigné. En
          cas de décès et à défaut d’instructions de la part de l’Utilisateur, l’Éditeur s’engage à détruire
          ses données, sauf si leur conservation s’avère nécessaire à des fins probatoires ou pour
          répondre à une obligation légale.
           
          Ces droits peuvent être exercés par simple demande par courrier électronique à l’adresse
          support(arobase)smartbodycoaching.com en indiquant ses coordonnées (nom, prénom,
          adresse et une copie de la pièce d’identité) et le cas échéant un motif légitime lorsque celui-
          ci est exigé par la loi (notamment en cas d’opposition au traitement).
        </p>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text color = "primary">
        <h3>
          Article 8 - sécurité
        </h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <p>
          La Société et ses éventuels sous-traitants s’engagent à mettre en œuvre toutes les mesures
techniques et organisationnelles afin d’assurer la sécurité du traitement des données à

caractère personnel et la confidentialité de celles-ci, en application de la Loi informatique et
Libertés et du Règlement européen sur la protection des données (RGPD) et de la loi
n°2018-133 du 26 février 2018.
        </p>
      </ion-text>
    </ion-item>


    <ion-item>
      <ion-text color = "primary">
        <h3>
          article 9 - transfert hors union européenne
        </h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <p>
          La Société pourra être amené à transférer les données des Utilisateurs en dehors de l’Union
          Européenne. Dans cette hypothèse elle en informerait les Utilisateurs en indiquant les
          mesures prises afin de contrôler ce transfert et s’assurer du respect de la confidentialité de
          leurs données
        </p>
      </ion-text>
    </ion-item>


    <ion-item>
      <ion-text color = "primary">
        <h3>
          article 10 - modification des politiques de
confidentialité
        </h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>
        <p>
          La présente politique de confidentialité peut être modifiée par la Société à tout moment sans
          préavis.
        </p>
      </ion-text>
    </ion-item>

    <ion-item>
      ----
    </ion-item>
    
  </ion-list>

  
</ion-content>
