<ion-header mode = "ios" translucent>
  <ion-toolbar mode = "ios" color="danger">

    <ion-title>Mes favoris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Page de profil - A VENIR !</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item class="eventItem" *ngFor = "let recipe of getFavorites()" [id]="recipe.id" lines="none" >
      <app-recipes [recipe] = "recipe" [routerLink]="['/recipes', recipe._id]"></app-recipes>
    </ion-item>

    <ion-item>
      <ion-text *ngIf = "noFavorites()">
        Vous n'avez pas ajouté de favoris.
      </ion-text>
    </ion-item>

  </ion-list>

</ion-content>