<ion-card class="myCard" >
  <div class ="testOverlay">
    <ion-badge color="light">{{recipe.calories}} cal</ion-badge>
  </div>
  <img src="data:image/png;base64,{{recipe.image.base64}}"  />
  <ion-card-header>
    <ion-card-title>{{recipe.name}}</ion-card-title>
    <ion-card-subtitle>
      <ion-icon name="star" style = "color: yellow; font-size: 16px;"></ion-icon>
      <ion-icon name="star" style = "color: yellow; font-size: 16px;"></ion-icon>
      <ion-icon name="star" style = "color: yellow; font-size: 16px;"></ion-icon>
      <ion-icon name="star" style = "color: yellow; font-size: 16px;"></ion-icon>
      <ion-icon name="star" style = "color: yellow; font-size: 16px;"></ion-icon>
      &nbsp;
      <ion-icon name="alarm-outline" style = "color: red; font-size: 16px;"></ion-icon> {{recipe.preparationTime}}min
    </ion-card-subtitle>
    
  </ion-card-header>
  <ion-card-content>
    {{recipe.ingredients}}
  </ion-card-content>
</ion-card>