<app-header></app-header>

<ion-content>

  <app-macronutriments></app-macronutriments>

  <ion-list>
    <ion-item class="eventItem" *ngFor = "let recipe of getRecipes()" [id]="recipe.id" lines="none" >
      <app-recipes [recipe] = "recipe" [routerLink]="['./', recipe._id]"></app-recipes>
    </ion-item>
  </ion-list>


  
<!--   <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" [routerLink] = "['/tabs/tab2']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" [routerLink] = "['/add-recipe']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
