<app-header></app-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar mode = "ios" color="danger" showCancelButton="never" (ionInput)="filterList($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button id="changeText"  (click) = "presentPopover($event)">
        <ion-icon slot="start" name="apps-outline"></ion-icon>
      </ion-button>

      
    </ion-buttons>
    <div id = "saltyOrNot">
      Sucré<ion-toggle mode = "ios" (ionChange)="filterBySaltOrSweet($event)"></ion-toggle>Salé
      <span style="color: hotpink; text-decoration: underline; font-size: 85%; padding-left: 10px;" (click) = "resetRecipes()">
        Annuler les filtres
      </span>
    </div>
    
  </ion-toolbar>
 

<!--   <div class = "recipesFilters">

    <ion-chip outline = "true" color = "primary" [ngStyle] = "{'visibility': proteinFiltered? 'inherit':'hidden'}">
      <ion-label>P {{getProteins()}}</ion-label>
    </ion-chip>

    <ion-chip outline = "true" color = "primary" [ngStyle] = "{'visibility': carbsFiltered? 'inherit':'hidden'}">
      <ion-label>G {{getCarbs()}}</ion-label>
    </ion-chip>

    <ion-chip outline = "true" color = "primary" [ngStyle] = "{'visibility': fatsFiltered? 'inherit':'hidden'}">
      <ion-label>L {{getFats()}}</ion-label>
    </ion-chip>

    <ion-chip mode = "ios" color = "danger" (click) = "presentPopover($event)">
      <ion-icon name="apps-outline"></ion-icon>
    </ion-chip>
  </div> -->

  <!-- <app-macronutriments></app-macronutriments> -->

  <ion-list>
    <ion-item class="eventItem" *ngFor = "let recipe of getRecipes()" [id]="recipe.id" lines="none" >
      <app-recipes [recipe] = "recipe" [routerLink]="['/recipes', recipe._id]"></app-recipes>
    </ion-item>
  </ion-list>


  
<!--   <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" [routerLink] = "['/tabs/tab2']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->




<!--   <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" (click) = "presentPopover($event)">
      <ion-icon name="pizza-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->



</ion-content>

<ion-footer>
  <div *ngIf = "isAdmin()">
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="danger" [routerLink] = "['/add-recipe']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-footer>
