<ion-header mode = "ios" translucent>
  <ion-toolbar mode = "ios" color="danger">

    <ion-title>Mon profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class = "mainText">
<!--     <ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</ion-avatar> -->
<img src = "../../assets/avatar.png">
    <h3>Bonjour, {{getFirstName()}} {{getLastName()}} !</h3>
  </div>

  <div id = "aboutMe">
    <h4>A propos de moi</h4>
    <div class = "aboutMeElement" style = "width: 100%; text-align: center; ">
      <h5>Calories journalières : {{getCalories()}}cals</h5></div>
    <div id = "aboutMeAttributes">
      <div class = "aboutMeElement">
        <span class = "macrosDescription">P :</span> {{getProteins()}}</div>
      <div class = "aboutMeElement">
        <span class = "macrosDescription">G :</span> {{getCarbs()}}</div>
        <div class = "aboutMeElement">
          <span class = "macrosDescription">L :</span> {{getFats()}}</div>
    </div>
    <div id = "aboutMeAttributes">
      <div class = "aboutMeElement">
        <ion-icon name="calendar" style = "color: #FF4757;"></ion-icon>
        {{getAge()}} ans</div>
      <div class = "aboutMeElement">
        <ion-icon name="person-outline" style = "color: #FF4757;"></ion-icon>
        {{getHeight()}} cm</div>
      <div class = "aboutMeElement">
        <ion-icon name="speedometer" style = "color: #FF4757;"></ion-icon>
        {{getWeight()}} kg</div>
    </div>
  </div>

  <ion-list mode ="ios">
<!--     <ion-item>
      Modifier mon mot de passe
    </ion-item>
 -->
    <ion-item [routerLink] = "['/mentions']"> 
      Mentions Légales
    </ion-item>

    <ion-item [routerLink] = "['/cgv']">
      Conditions Générales
    </ion-item>

    <ion-item [routerLink] = "['/politique']">
      Politique de confidentialité
    </ion-item>
    
    <ion-item [routerLink] = "['/contact-us']">
      Nous contacter
    </ion-item>

    
  </ion-list>

  <div style = "text-align: center; margin-top: 1em;">
    <ion-button mode = "ios" (click) = "logout()" color = "danger">Me déconnecter</ion-button>
  </div>
  
</ion-content>
