<ion-header mode = "ios" translucent>
  <ion-toolbar mode = "ios" color="danger">

    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class = "mainText">
<!--     <ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</ion-avatar> -->
<img src = "../../assets/avatar.png">
    <h3>Bonjour, {{getFirstName()}} {{getLastName()}} !</h3>
  </div>

  <ion-list mode ="ios">
<!--     <ion-item>
      Modifier mon mot de passe
    </ion-item>
 -->
    <ion-item [routerLink] = "['/contact-us']"> 
      A propos
    </ion-item>

    <ion-item [routerLink] = "['/contact-us']">
      Conditions Générales
    </ion-item>

    <ion-item [routerLink] = "['/contact-us']">
      Politique de confidentialité
    </ion-item>
    
    <ion-item [routerLink] = "['/contact-us']">
      Nous contacter
    </ion-item>

    
  </ion-list>

  <div style = "text-align: center; margin-top: 1em;">
    <ion-button mode = "ios" (click) = "logout()" color = "danger">Me déconnecter</ion-button>
  </div>
  
</ion-content>


<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Page de profil - A VENIR !</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item class="eventItem" *ngFor = "let recipe of getFavorites()" [id]="recipe.id" lines="none" >
      <app-recipes [recipe] = "recipe" [routerLink]="['./', recipe._id]"></app-recipes>
    </ion-item>
  </ion-list>


</ion-content> -->
