

<ion-content padding class="background">

  <!-- <ion-img [src]="item.src"></ion-img> -->
   <!-- <img src = "../../../assets/niklas-rhose-FlmXvqlD-nI-unsplash-1@3x.png" />  -->

   <h1 id = "logo">MyFitMeals</h1>
    <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()" class = "loginForm">
 
      <ion-item mode = "ios" color = "transparent">
        <ion-label position="floating" color = "light">
          <ion-icon name="person-circle-outline" style = "color: #FF4757;"></ion-icon>
          Email</ion-label>
        <ion-input type="email" formControlName="email" color = "light"></ion-input>
      </ion-item>
   
      <ion-item mode = "ios" color = "transparent">
        <ion-label position="floating" color = "light">
          <ion-icon name="lock-closed-outline" style = "color: #FF4757;"></ion-icon>
          Mot de passe</ion-label>
        <ion-input type="password" formControlName="password" color = "light"></ion-input>
      </ion-item>
   
      <div class = "loginButtons">
        <ion-button id = "logButton" mode = "ios" expand="block" color="danger" type="submit">Me connecter</ion-button>
        <a mode = "ios" type="button" [routerLink] = "['/register']" style = "color: white">Créer un compte</a>
      </div>

   
    </form>

  

</ion-content>