<ion-header mode = "ios">
  <ion-toolbar mode = "ios" color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- <ion-img [src]="item.src"></ion-img> -->
  <img src = "../../../assets/niklas-rhose-FlmXvqlD-nI-unsplash-1@3x.png" />

  
    <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()" class = "loginForm">
 
      <ion-item mode = "ios">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
   
      <ion-item mode = "ios">
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item mode = "ios">
        <ion-label position="floating">Prénom</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>

      <ion-item mode = "ios">
        <ion-label position="floating">Nom</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
   
      <ion-button mode = "ios" expand="full" color="danger" type="submit" [disabled]="!credentialsForm.valid">Créer mon compte</ion-button>
      <a mode = "ios" type="button" [routerLink] = "['/register']">Me connecter</a>
      <!-- <ion-button expand="full" type="button" (click)="register()" [disabled]="!credentialsForm.valid">Register</ion-button> -->
   
    </form>
  

</ion-content>