<app-header-back></app-header-back>
<ion-content>
  <div class ="testOverlay">
    <ion-badge color="light">
      <ion-icon name="flame-outline" style = "color: red; font-size: 16px;"></ion-icon>
      {{getRecipe()?.calories}} cal</ion-badge>
      <br>
    <ion-badge color="light">
      <ion-icon name="alarm-outline" style = "color: red; font-size: 16px;"></ion-icon>
            {{getRecipe()?.preparationTime}} min 
    </ion-badge>

    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
      <ion-fab-button color="warning" (click) = "favoriteRecipe()" *ngIf = "!isFavorite">
        <ion-icon name="star-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="warning" (click) = "unfavoriteRecipe()" *ngIf = "isFavorite">
        <ion-icon name="star"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <div class = "recipeImage">
    <ion-img [src] = "getRecipe()?.imageURL"></ion-img>
  </div>
  <div class = "name">
    <span id = "recipeName">{{getRecipe()?.name}}</span>  
  </div>

  <div class = "features">
    <ion-segment color = "danger" [(ngModel)] = "featureSegment">
      <ion-segment-button value="A propos">
        <ion-label>A propos</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Ingredients">
        <ion-label>Ingredients</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Instructions">
        <ion-label>Instructions</ion-label>
      </ion-segment-button>

<!--       <ion-segment-button value="Conseils">
        <ion-label>Conseils</ion-label>
      </ion-segment-button> -->
    </ion-segment>
  </div>

  <div [ngSwitch] = "featureSegment">
    <ion-list *ngSwitchCase = "'A propos'">
<!--         <ion-item  lines = "none">
            <div class = "macronutriments">
              <div id = "proteins" class = "macros">
                
                <span class = "macrosInfos">{{getRecipe()?.proteins}}g</span>
                <br>
                <span>Protéines</span>
              </div>
              <div id = "carbs" class = "macros">
                <span class = "macrosInfos">{{getRecipe()?.carbs}}g</span>
                <br>
                <span>Glucides</span>
              </div>
          
              <div id = "fats" class = "macros">
                <span class = "macrosInfos">{{getRecipe()?.fats}}g</span>
                <br>
                <span>Lipides</span>
              </div>
            </div>




      </ion-item> -->
      <ion-item>
        Valeurs nutritionnelles :
      </ion-item>
      <app-macros-recipe [recipe] = "getRecipe()"></app-macros-recipe>


<!--       <ion-item lines = "none">
        <div class = "infosRecipe">
          <span style = "font-size: 20px; font-weight: bold;">
            something
          </span>
        </div>
      </ion-item> -->

    </ion-list>
  
    <ion-list *ngSwitchCase = "'Ingredients'" lines = "none">
      <ion-item class = 'instrucText' *ngFor = "let element of splitIngredients()" text-wrap>
        -{{element}}
<!--         <span>{{getRecipe()?.ingredients}}</span>
        <span *ngFor = "let element of splitIngredients()">
          {{element}}
        </span> -->
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase = "'Instructions'" lines = "none">
      <ion-item class = 'instrucText' *ngFor = "let element of splitInstructions()" text-wrap>
        -{{element}}
      </ion-item>
    </ion-list>
  
    <ion-list *ngSwitchCase = "'Conseils'">
      <ion-item class = 'instrucText' *ngFor = "let element of splitTips()" text-wrap>
        -{{element}}
      </ion-item>
    </ion-list>
  </div>
  
  
</ion-content>
