<app-header-back></app-header-back>
<ion-content>
  <div class ="testOverlay">
    <ion-badge mode ="ios" color="light">
      <ion-icon name="flame-outline" style = "color: #FF4757; font-size: 16px;"></ion-icon>
      {{getRecipe()?.calories}} cal</ion-badge>
      <br>
    <ion-badge mode ="ios" color="light">
      <ion-icon name="alarm-outline" style = "color: #FF4757; font-size: 16px;"></ion-icon>
            {{getRecipe()?.preparationTime}} min 
    </ion-badge>

    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
      <ion-fab-button color="warning" (click) = "favoriteRecipe()" *ngIf = "!isFavorite" style = "color: white;">
        <ion-icon name="star-outline" style = "color: white;"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="warning" (click) = "unfavoriteRecipe()" *ngIf = "isFavorite">
        <ion-icon name="star" style = "color: white;"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <div class = "recipeImage">
    <ion-img [src] = "getRecipe()?.imageURL"></ion-img>
  </div>
  <div class = "name">
    <span id = "recipeName">{{getRecipe()?.name}}</span>  
  </div>

  <div class = "features">
    <ion-segment color = "danger" [(ngModel)] = "featureSegment" mode = "ios">
      <ion-segment-button value="Ingredients">
        <ion-label>Ingredients</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Instructions">
        <ion-label>Préparation</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Conseils">
        <ion-label>Conseils</ion-label>
      </ion-segment-button>

<!--       <ion-segment-button value="Conseils">
        <ion-label>Conseils</ion-label>
      </ion-segment-button> -->
    </ion-segment>
  </div>

  <div [ngSwitch] = "featureSegment">
    <ion-list mode ="ios" *ngSwitchCase = "'Ingredients'" inset ="true">
      <app-macros-recipe [recipe] = "getRecipe()"></app-macros-recipe>
      
        <ion-text color="primary">
          <h1 style = "color: #FF4757 ">Ingrédients</h1>
        </ion-text>
        <div class="underline" style = "background-color: #FF4757;"></div>
      <ion-item class = 'instrucText' *ngFor = "let element of splitIngredients()" text-wrap>
        -{{element}}
      </ion-item>

      <div *ngIf = "isAdmin()" style = "text-align: center; margin-top: 2em;">
        <ion-button color = "danger" (click) = "deleteRecipe()">Supprimer recette</ion-button>
      </div>
      

    </ion-list>
  
    <ion-list mode ="ios" *ngSwitchCase = "'Instructions'" inset ="true">
      <app-macros-recipe [recipe] = "getRecipe()"></app-macros-recipe>
      <ion-text color="primary">
        <h1 style = "color: #47CDFF">Instructions</h1>
      </ion-text>
      <div class="underline" style = "background-color: #47CDFF;"></div>
      <ion-item class = 'instrucText' *ngFor = "let element of splitInstructions()" text-wrap>
        -{{element}}
      </ion-item>
    </ion-list>

    <ion-list mode ="ios" *ngSwitchCase = "'Conseils'" inset = "true">
      <app-macros-recipe [recipe] = "getRecipe()"></app-macros-recipe>
      <ion-text color="primary">
        <h1 style = "color: #A347FF">Conseils</h1>
      </ion-text>
      <div class="underline" style = "background-color: #A347FF;"></div>
      <ng-container *ngIf="toSplit; else notSplit">
        <ion-item class = 'instrucText' *ngFor = "let element of splitTips()" text-wrap>
          -{{element}}
        </ion-item>
      </ng-container>


      <ng-template #notSplit>
        <ion-item  class = 'instrucText' text-wrap>
          -{{getRecipe().tips}}
        </ion-item>
      </ng-template>


    </ion-list>
<!--   
    <ion-list *ngSwitchCase = "'Conseils'">
      <app-macros-recipe [recipe] = "getRecipe()"></app-macros-recipe>
      <ion-item class = 'instrucText' *ngFor = "let element of splitTips()" text-wrap>
        -{{element}}
      </ion-item>
    </ion-list> -->
  </div>
  
  
</ion-content>
