<ion-content padding class = "background">
  <ion-slides [options]="slideOpts">
    <ion-slide >
      <img id = "logo" src = "../../assets/icon final 2.png" />
      <h1>MyFitMeals</h1>
      <p>- Accès complet et illimité à toutes les recettes MyFitMeals</p>
      <p>- Accès complet et illimité à toutes les recettes MyFitMeals</p>
      <p>- Nouvelles recettes chaque semaine !</p>
      <ion-button  color = "primary" mode = "ios" fill = "clear" (click) = "continue()">Continuer <ion-icon name="arrow-forward"></ion-icon>   
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>