<!-- 

  <ion-row>
    <ion-col>
      <ion-label position = "floating">Protéines</ion-label>
      <ion-input type = "number" name = "proteins" (input)="setQuantity('proteins', $event.target.value)"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-label position = "floating">Glucides</ion-label>
      <ion-input type = "number" name = "carbs" (input)="setQuantity('carbs', $event.target.value)"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-label position = "floating">Lipides</ion-label>
      <ion-input type = "number" name = "fats" (input)="setQuantity('fats', $event.target.value)"></ion-input>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col>
      <ion-button type = "submit" (click) = "onSubmit()" style="font-size: 20px; margin-left: 10px;">Valider</ion-button>
    </ion-col>

    <ion-col>
      <ion-button type = "submit" color = "danger" (click) = "resetMacros()">Reset</ion-button>
    </ion-col>
  </ion-row> -->

  <form [formGroup]="macrosForm" (ngSubmit)="onSubmit()">
 
    <ion-item mode = "ios">
      <ion-label position="floating">Protéines</ion-label>
      <ion-input type = "number" name = "proteins" formControlName="proteins" (input)="setQuantity('proteins', $event.target.value)"></ion-input>
    </ion-item>

 
    <ion-item mode = "ios">
      <ion-label position="floating">Glucides</ion-label>
      <ion-input type = "number" name = "carbs" formControlName="carbs" (input)="setQuantity('carbs', $event.target.value)"></ion-input>
    </ion-item>

    <ion-item mode = "ios">
      <ion-label position="floating">Lipides</ion-label>
      <ion-input type = "number" name = "fats" formControlName="fats" (input)="setQuantity('fats', $event.target.value)"></ion-input>
    </ion-item>
 
    <ion-button mode = "ios" type = "submit" style="font-size: 20px; margin-left: 10px;" [disabled]="!macrosForm.valid">Valider</ion-button>
    <ion-button mode = "ios" color = "danger" (click) = "resetMacros()">Reset</ion-button>

  </form>
