.popover-content {
    background: chartreuse;
}

ion-input {
    max-width: 20%;
    font-size: 32px;
    color: #FF4757;
}

.macroInput {
    justify-content: center;
}

ion-icon {
    font-size: 60px;
    color: #FF4757;
}